.profile__edit-button {
    position: absolute;
    top: 16px;
    left: 310px;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-image: url(../../../images/pencil.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    cursor: pointer;
    transition: all 0.2s;
}

.profile__edit-button:hover {
  border: 1px solid rgba(255,255,255, 0.6);
  background-image: url(../../../images/pencil_hover.svg);
}


@media screen and (max-width: 725px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 200px;
    background-size: 8px;
  }
}
