.profile__info {
  max-width: 340px;
  margin-right: 230px;
  margin-left: 30px;
  justify-self: start;
}

@media screen and (max-width: 900px) {
  .profile__info {

    margin-right: 20px;
  }
}

@media screen and (max-width: 568px) {
  .profile__info {
    max-width:280px;
  }
}

