.popup__submit {
  padding: 14px 125px 18px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.popup__submit:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
