.profile__info {
    margin-right: 260px;
}

@media screen and (max-width: 900px) {
    .profile__info {
        margin-left: 20px;
        margin-right: 80px;
    }
}

@media screen and (max-width: 640px) {
    .profile__info {
        margin: 26px auto 30px;
    }
}